/*
* iFx Weather Composer
* Copyright 2015, Austin Shackelford
* www.austinsatmosphere.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 07/19/2015
*/


#changes{
			background-color: #A3C5FF;
			-webkit-appearance: none;
			-moz-appearance: none;
		} 
#changes:hover{
	background-color: #327BFA;
			-webkit-appearance: none;
			-moz-appearance: none;
	color: #E6E6E6;
}


#title{
	display: inline-block;
    text-align: center; 
    /*text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;*/
}

.wximg{
	display: inline-block;
    vertical-align: bottom;
    float: none;
}

